*{
   
    padding: 0;
    margin: 0;
}
.td11{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.add{
    float: right;
    margin-top: 90px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    
    /* color: black; */
}
.category{
    float: right;
    margin-top: 90px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
.status{
    float:right;
    margin-top: 90px;
    margin-right: 2x0px;
    border: 2px solid black;
    border-radius: 5px;
}
.search{
    float:right;
    margin-top: 90px;
    margin-right: 330px;
    border: 2px solid black;
    border-radius: 5px;
}
.tb1{
    position: absolute;
    margin-top: 60px;
    /* top: 190px; */
    left: 30%;
    }

h1{   
    text-align: center;
}
.td12{
    border: 1px solid #ddd;
    padding: 8px;
}
.tb2{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  width: 90%;
}
.td12:nth-child(even){background-color: #f2f2f2;}
.td12:hover {background-color: #ddd;}
.editicon{
    color:blue;
    border: none;
}