.updateproducts{
    position: absolute;
    top: 90px;
    left: 30%;
}
.clearfix{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.control1,.control2 {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .area{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .registerbtn{
    /* position: relative; */
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2444d3;
    border-radius: 8px;
    height: 25px;
    width: 30%;
    border: 0;
    color: #FFFFFF;
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-left: 60px;
  }
  .cancel{
    /* position: absolute; */
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #d42020;
    border-radius: 8px;
    height: 25px;
    width: 30%;
    border: 0;
    color: #FFFFFF;
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-left: 60px;
  }
  .box{
    width: 100%;
    padding: 30px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    box-sizing: border-box;
  }