
*{
   
    padding: 0;
    margin: 0;
}
.header{
    width:100% ;
    height: 20%;
    background-color: black;
    color:white;
    
   
}
h2{
    padding: 20px;
}
.avatar{
    
    margin-top: 15px; 
   
}

.col1{

    text-align: left;
}
.col2{
    text-align: right;
}
.dropbtn {
    opacity: 0.1;
    background-color: #010201;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    /* display: inline-block; */
    float: right;
    margin-top: -70px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    height: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .cart{
  margin-top: 15px;
  margin-right: 20px;
  }
  .badge{
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    /* margin-right:60px; */
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0.1 0px;
    vertical-align: top;
    margin-left: -30px;
    margin-top: 12px;
    /* padding-top: 10px; */
  }