.img2{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.button1{
    background-color: rgba(12, 202, 12, 0.534);
    color:white;
    border-radius: 9px;
}
.td3{
    padding: 1px 30px;
}
.borderBottom{
    border-bottom: 0.2px solid rgba(94, 94, 94, 0.986);

}
.borderTop{
    border-top: 0.2px solid rgba(94, 94, 94, 0.986);   
}
.table3{
    text-align: center;
    width: 700px;
    margin: auto;
}
.head2{
   background-color: red;
   padding-left:100px;
}
.head1{
    text-align: center;
}
.total{
    text-align: right;
    padding-right: 160px;
}
.buy{
    background-color: rgba(212, 6, 6, 0.884);
    color:white;
    border-radius: 9px;
    padding:0px 20px 0px 20px;
}
.trashclr{
    color: red;
    border: 0px;
}
.total{
    padding-bottom: 15px;
}
/* .fa{
    font-size: 40px;
} */