.table4{
    border-collapse: collapse;
    width: 50%;
    margin: auto;  
}
.borderBottom,.td4{
    /* font-size: 20px; */
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tr4:hover {background-color: coral;
}
.td41{
    font-size: 20px;
    background-color: coral;
}