.product{
    position: absolute;
    top: 80px;
    left: 30%;
}
li{
    list-style-type: none;
}
.img1{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    align-items: center;
}
.containerDiv{
    /* border: 1px solid black; */
    padding: 5px;
    display: flex;
    align-items:flex-end;
    height: 180px;
    width: 530px;
    margin-top: 6px;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 15px 48px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    /* border-color: blue; */
}

.description{
    height: 70px;
    width: 250px;
    margin-left: 30px;
}
.name{
    margin-left: 30px;
}
.price{
    margin-left: 30px;
}
.addtocart:hover {
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.addtocart{
    background-color: rgba(202, 12, 12, 0.801);
    color:white;
    border-radius: 9px;
    font-size: 13px;
    width: 80px;
}
.addtocart1{
    background-color: rgba(12, 202, 12, 0.534);
    color:white;
    border-radius: 9px;
    
}
.img1:hover {
    transform: scale(1.1); 
}

