*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width:25% ;  
    background-color: grey;
    color:rgb(8, 8, 8);
    text-align: center;
    height: 120vh;
   

}
.link1{
    margin-top: 30px;
}

