.th2{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.tb1{
    position: absolute;
    top: 90px;
    left: 30%;
    
}

h1{
   
    text-align: center;
}
.add{
    float: right;
    margin-top: 90px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: white;
    color: black;
}
.role{
    float: right;
    margin-top: 90px;
    margin-right: 15px;
    border: 2px solid black;
    border-radius: 5px;
}
.status{
    float:right;
    margin-top: 90px;
    margin-right: 40px;
    border: 2px solid black;
    border-radius: 5px;
}
.tb3{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    /* width: 100%; */
}
.tr3:hover {background-color: #ddd;}
.tr3:nth-child(even){background-color: #f2f2f2;}
.td2{
    border: 1px solid #ddd;
    padding: 8px;
}