.box {
    width: 200px;
    height: 25px;
    color:black;
    /* margin-top: 1px; */
    /* display: flex;
    align-items: flex-end; */
    /* float: right; */
    /* margin-right: -10px; */
   
  
  }
  
  .contain{
    background-color: aquamarine;
  }
   form {
    margin: auto;
  }
  
  .container {
    background-color: aqua;
    height:580px;
    width: 35%;
    margin: auto;
    border: 3px solid #16171a;
    padding: 10px;
    background-color:white;
    text-align: center;
  }
  
  .s {
    background-color: blanchedalmond;
    color: rgb(187, 9, 69);
    width: 100px;
    height: 40px;
    font-weight: bold;
  }
  
  label {
    color:black;
    font-weight: bold;
    /* padding: 2px; */
    display: flex;
    align-items: flex-start;
  }
  
  .s {
    background-color: blanchedalmond;
    color: rgb(187, 9, 69);
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  
  option {
    color: rgb(209, 19, 114);
    /* background-color: lightgoldenrodyellow; */
  }
  h1{
    color:black; text-align: center;
  }
  